.product-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

/* ------------------------------------------- */

.product-detail .product-data {
    display: flex;
    border: 2px solid var(--db2-color);
    border-radius: 20px;
}

/* ------------------ */

.product-data .product-it {
    display: grid;
    place-items: center;
    padding: 20px;
    width: 50%;
}

.product-it img {
    background-color: var(--sg-color);
    height: auto;
    width: 280px;
}
.product-it img:hover {
    box-shadow: 0 0 2px 2px var(--db2-color);
}

.product-it figcaption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* ------------------ */

.product-data .product-info {
    background-color: var(--sg-color);
    border-radius: 0 20px 20px 0;
    line-height: 2;
    padding: 20px;
    width: 50%;
}

.product-info p {
    border-bottom: 1px dashed var(--bw-color);
}

/* ------------------------------------------- */

.product-detail .product-code {
    background-color: var(--sg-color);
    display: grid;
    place-items: center;
    padding: 20px;
}

/* ------------------------------------------- */

.product-detail .reviews {
    border: 2px solid var(--db2-color);
    border-left: none;
    border-radius: 20px;
    padding-right: 20px;
}

.reviews h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.reviews .review-data {
    background-color: var(--sg-color);
    border-left: 10px solid var(--db2-color);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/* ------------------------------------------- */

.product-detail .back-button {
    background-color: var(--db2-color);
    border-radius: 10px;
    color: white;
    margin: auto;
    padding: 5px 10px;
    transition: background-color 0.5s ease;
}
.product-detail .back-button:hover {
    background-color: var(--db1-color);
}

/* Responsive Design ------------------------- */

@media (max-width: 750px) {
    .product-detail .product-data {
        flex-direction: column;
    }

    .product-data .product-it {
        width: 100%;
    }
    .product-data .product-info {
        border-radius: 0 0 20px 20px;
        width: 100%;
    }
}



