* {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    /* outline: 1px solid red; */
}

/* ------------------------------------------- */

:root {
    --wb-color: white;
    --bw-color: black;
    --sg-color: rgb(230, 230, 230);
    --db1-color: #044382;
    --db2-color: #1383cb;
    --db3-color: #3bc9ee;
}

.dark {
    --wb-color: rgba(0, 0, 0, 0.8);
    --bw-color: white;
    --sg-color: rgb(25, 25, 25);
}

/* ------------------------------------------- */

.pages {
    background-color: var(--wb-color);
    color: var(--bw-color);
    padding-top: 77px;
}
